In [96]:
# in this notebook, we are going explore the data
# Data link
# https://www.kaggle.com/petersunga/google-amazon-facebook-employee-reviews/home
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [97]:
df = pd.read_csv(r'C:\Users\Adarsh\uOttawa\ML Course Project-7Apr\datasets\employee_reviews.csv')
                  #sep=',' , engine = 'python')

In [98]:
df.shape

(67529, 17)

In [99]:
df.head(3)

,Unnamed: 0,company,location,dates,job-title,summary,pros,cons,advice-to-mgmt,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,link
0,1,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,none,5.0,4.0,5.0,5.0,4.0,5.0,0,https://www.glassdoor.com/Reviews/Google-Revie...
1,2,google,"Mountain View, CA","Jun 21, 2013",Former Employee - Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,4.0,2.0,3.0,3.0,5.0,3.0,2094,https://www.glassdoor.com/Reviews/Google-Revie...
2,3,google,"New York, NY","May 10, 2014",Current Employee - Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5.0,5.0,4.0,5.0,5.0,4.0,949,https://www.glassdoor.com/Reviews/Google-Revie...

In [100]:
 # printing all the features
df.columns

Index(['Unnamed: 0', 'company', 'location', 'dates', 'job-title', 'summary',
       'pros', 'cons', 'advice-to-mgmt', 'overall-ratings',
       'work-balance-stars', 'culture-values-stars',
       'carrer-opportunities-stars', 'comp-benefit-stars',
       'senior-mangemnet-stars', 'helpful-count', 'link'],
      dtype='object')

In [101]:
# 1 )  keep relevant feature and remove 'Unnamed' and 'link'
df = df[['company', 'location',  'dates', 'job-title', 'summary',
       'pros', 'cons', 'advice-to-mgmt', 'overall-ratings',
       'work-balance-stars', 'culture-values-stars',
       'carrer-opportunities-stars', 'comp-benefit-stars',
       'senior-mangemnet-stars', 'helpful-count']]

In [102]:
# Check the null values
df.isnull().sum().tolist()

# we don't need to remove the null values because those are present only in the text data, after merging all the comments in one
# these null values would be gone

[0, 0, 0, 0, 120, 0, 0, 297, 0, 0, 0, 0, 0, 0, 0]

In [103]:
# 2) let's merge all the comments on the companies into one and name it feedback

# there are some columns which are not string first change them intro a string or replace Nan with - and we can  filter - later.
#df['summary'] = df['summary'].map({'Nan': '-'  })
#df['pros'] = df['pros'].map({'Nan': '-'   })
#df['cons'] = df['cons'].map({'Nan': '-'   })
#df['advice-to-mgmt'] = df['advice-to-mgmt'].map({'Nan': '-'   })

df['summary'] = df['summary'].astype(str)
df['pros'] = df['pros'].astype(str)
df['cons'] = df['cons'].astype(str)
df['advice-to-mgmt'] = df['advice-to-mgmt'].astype(str)

In [104]:


#axis : {0 or ‘index’, 1 or ‘columns’}, default 0
#Axis along which the function is applied:
#0 or ‘index’: apply function to each column.
#1 or ‘columns’: apply function to each row.

df['feedback'] = df[['summary' , 'pros' , 'cons' , 'advice-to-mgmt' ]].apply( lambda x : ' '.join( x  ), axis = 1 )

In [105]:
df['feedback'][10]

'Nice place to work * Smart people * World class infrastructure * Diverse selection of projects and teams Giant company with uneven project and team characteristics none'

In [106]:
df.columns

Index(['company', 'location', 'dates', 'job-title', 'summary', 'pros', 'cons',
       'advice-to-mgmt', 'overall-ratings', 'work-balance-stars',
       'culture-values-stars', 'carrer-opportunities-stars',
       'comp-benefit-stars', 'senior-mangemnet-stars', 'helpful-count',
       'feedback'],
      dtype='object')

In [107]:
# we can get rid of the features which are included in the feedback
df = df[['company', 'location' , 'dates', 'job-title', 'overall-ratings', 'work-balance-stars',
       'culture-values-stars', 'carrer-opportunities-stars',
       'comp-benefit-stars', 'senior-mangemnet-stars', 'helpful-count',
       'feedback']]

In [108]:
df.shape

(67529, 12)

In [109]:
df.head(5)

,company,location,dates,job-title,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,feedback
0,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,5.0,4.0,5.0,5.0,4.0,5.0,0,Best Company to work for People are smart and ...
1,google,"Mountain View, CA","Jun 21, 2013",Former Employee - Program Manager,4.0,2.0,3.0,3.0,5.0,3.0,2094,"Moving at the speed of light, burn out is inev..."
2,google,"New York, NY","May 10, 2014",Current Employee - Software Engineer III,5.0,5.0,4.0,5.0,5.0,4.0,949,Great balance between big-company security and...
3,google,"Mountain View, CA","Feb 8, 2015",Current Employee - Anonymous Employee,5.0,2.0,5.0,5.0,4.0,5.0,498,The best place I've worked and also the most d...
4,google,"Los Angeles, CA","Jul 19, 2018",Former Employee - Software Engineer,5.0,5.0,5.0,5.0,5.0,5.0,49,"Unique, one of a kind dream job Google is a wo..."

In [110]:
# Feature Engineering, 
# extract features from existing features

df['job-title'].value_counts()

Current Employee - Anonymous Employee                                 16177
Former Employee - Anonymous Employee                                  10825
Current Employee - Software Engineer                                   1292
Current Employee - Software Development Engineer                        907
Current Employee - Specialist                                           571
Current Employee - Program Manager                                      554
Former Employee - Specialist                                            489
Current Employee - Senior Software Engineer                             477
Former Employee - Software Engineer                                     473
Current Employee - Software Development Engineer II                     462
Current Employee - Senior Program Manager                               449
Current Employee - Fulfillment Associate                                384
Current Employee - Warehouse Associate                                  374
Former Employee - Software Development Engineer                         329
Former Employee - Warehouse Associate                                   305
Former Employee - Program Manager                                       272
Current Employee - Senior Software Development Engineer                 257
Current Employee - Manager                                              244
Current Employee - Area Manager                                         227
Former Employee - Fulfillment Associate                                 218
Current Employee - Software Development Engineer In Test (SDET)         210
Current Employee - Product Manager                                      196
Current Employee - Senior Product Manager                               195
Former Employee - Mac Specialist (Apple Store)                          181
Current Employee - Account Manager                                      179
Current Employee - Software Development Engineer I                      177
Current Employee - Mac Specialist (Apple Store)                         174
Current Employee - Director                                             173
Current Employee - Software Development Engineer In Test (SDET) II      172
Former Employee - Senior Software Engineer                              160
                                                                      ...
Former Employee - Search Quality Associate                                1
Former Employee - Channel Team Lead                                       1
Former Employee - DVD Processor                                           1
Former Employee - KSP                                                     1
Current Employee - Development Lead II                                    1
Former Employee - International Communications                            1
Current Employee - Agency Development                                     1
Current Employee - Technical Service Specialist                           1
Current Employee - Seasonal AMZL Sortation Associate                      1
Current Employee - Customer Services Representative                       1
Current Employee - Director, Business Management and Planning             1
Current Employee - Segment Lead, Online Partnerships Group                1
Former Employee - Home Based Advisor                                      1
Current Employee - Senior Innovation and Design Engineer                  1
Former Employee - Operations Program Manager Assistant                    1
Former Employee - Senior IOS Software Engineer                            1
Current Employee - Flight Attendant                                       1
Former Employee - Process Area Manager                                    1
Current Employee - University of California, SAN Francisco                1
Former Employee - Warehouse, Fulfillment Center                           1
Former Employee - Merch                                                   1
Current Employee - Robotocs Fulfillment Center Sorter                     1
Current Employee - AWS SOC Analyst                                        1
Former Employee - Technical Account Management Agent                      1
Current Employee - Not Warehouse                                          1
Former Employee - Technical Support Engineer I                            1
Former Employee - Apple Product Verification                              1
Former Employee - Quality Analyst - CMT                                   1
Current Employee - Software Developers                                    1
Current Employee - Software Design Engineer I (SDE I)                     1
Name: job-title, Length: 8308, dtype: int64

In [111]:
# let's make a new feature job_status which is  going to store if the employe is current or former eomployee

job_status = []
designation = []
des_string = ''

for i in range(len(df['job-title'])):
    if "Current Employee" in df['job-title'][i]:
        job_status.append("Current Employee")
        des_string = df['job-title'][i][18:]
        designation.append(des_string)
        
    elif "Former Employee" in df['job-title'][i]:
        job_status.append("Former Employee")
        des_string = df['job-title'][i][17:]
        designation.append(des_string)
        
    
#print(job_status)

# merge the new feature to the datafram
df['job_status'] = job_status
df['job_title'] = designation
df.head()

,company,location,dates,job-title,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,feedback,job_status,job_title
0,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,5.0,4.0,5.0,5.0,4.0,5.0,0,Best Company to work for People are smart and ...,Current Employee,Anonymous Employee
1,google,"Mountain View, CA","Jun 21, 2013",Former Employee - Program Manager,4.0,2.0,3.0,3.0,5.0,3.0,2094,"Moving at the speed of light, burn out is inev...",Former Employee,Program Manager
2,google,"New York, NY","May 10, 2014",Current Employee - Software Engineer III,5.0,5.0,4.0,5.0,5.0,4.0,949,Great balance between big-company security and...,Current Employee,Software Engineer III
3,google,"Mountain View, CA","Feb 8, 2015",Current Employee - Anonymous Employee,5.0,2.0,5.0,5.0,4.0,5.0,498,The best place I've worked and also the most d...,Current Employee,Anonymous Employee
4,google,"Los Angeles, CA","Jul 19, 2018",Former Employee - Software Engineer,5.0,5.0,5.0,5.0,5.0,5.0,49,"Unique, one of a kind dream job Google is a wo...",Former Employee,Software Engineer

In [112]:
# convert the 'dates' feature to pandas date time format and then extract day, month and year as features
#df['dates'] = pd.to_datetime(df.dates , format='%b %d, %Y')


# make 3 new features, day_of_the_month, month, year and extract them from the dates feature whose values are in the format
# of string

post_day = []
post_month = []
post_year = []
temp = ''

for i in range(len(df['dates'])):
    temp = df['dates'][i][1:4]
    post_month.append(temp)

    temp = df['dates'][i][-8:-6]
    post_day.append(temp)    
    
    temp = df['dates'][i][-5:]
    post_year.append(temp)
       

# merge the new feature to the datafram
df['post_day'] = post_day
df['post_month'] = post_month
df['post_year'] = post_year
df.head()

,company,location,dates,job-title,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,feedback,job_status,job_title,post_day,post_month,post_year
0,google,none,"Dec 11, 2018",Current Employee - Anonymous Employee,5.0,4.0,5.0,5.0,4.0,5.0,0,Best Company to work for People are smart and ...,Current Employee,Anonymous Employee,11,Dec,2018
1,google,"Mountain View, CA","Jun 21, 2013",Former Employee - Program Manager,4.0,2.0,3.0,3.0,5.0,3.0,2094,"Moving at the speed of light, burn out is inev...",Former Employee,Program Manager,21,Jun,2013
2,google,"New York, NY","May 10, 2014",Current Employee - Software Engineer III,5.0,5.0,4.0,5.0,5.0,4.0,949,Great balance between big-company security and...,Current Employee,Software Engineer III,10,May,2014
3,google,"Mountain View, CA","Feb 8, 2015",Current Employee - Anonymous Employee,5.0,2.0,5.0,5.0,4.0,5.0,498,The best place I've worked and also the most d...,Current Employee,Anonymous Employee,8,Feb,2015
4,google,"Los Angeles, CA","Jul 19, 2018",Former Employee - Software Engineer,5.0,5.0,5.0,5.0,5.0,5.0,49,"Unique, one of a kind dream job Google is a wo...",Former Employee,Software Engineer,19,Jul,2018

In [113]:
df['job_status'].value_counts()

Current Employee    42540
Former Employee     24989
Name: job_status, dtype: int64

In [114]:
# if we are considering job_status as our Target for classification then surely it;s a class impabalance problem
# let's do undersampling to keep all the values equal for both the classes 
# chose 20000 values from both the classes randomly

# use resample method from scikit-learn
from sklearn.utils import resample

# Separate majority and minority classes for undersampling
df_Current_Employee  = df[df.job_status== 'Current Employee']
df_Former_Employee   = df[df.job_status == 'Former Employee']
    
df_Current_Employee = resample(df_Current_Employee, 
                                             replace=True,    # sample with replacement
                                             n_samples=20000,     # to match number of values in each class
                                             random_state=123) # reproducible results

df_Former_Employee   = resample(df_Former_Employee, 
                                             replace=True,    # sample with replacement
                                             n_samples=20000,     # to match number of values in each class
                                             random_state=123) # reproducible results

# Combine all the class with equal number of values
df_sampled = pd.concat([ df_Current_Employee , df_Former_Employee])
 

# check for the class balance
print(df_sampled['job_status'].value_counts())
# change df with sampled one
df= df_sampled
print("\n")
print(df.head(5))

Current Employee    20000
Former Employee     20000
Name: job_status, dtype: int64


      company       location          dates  \
24960  amazon    Seattle, WA   Mar 20, 2010
43882   apple  Cupertino, CA   Oct 31, 2014
27660  amazon           none   Apr 16, 2018
24463  amazon    Seattle, WA    Jan 3, 2013
12367  amazon           none   Dec 27, 2017

                                           job-title  overall-ratings  \
24960     Current Employee - Senior Systems Engineer              4.0
43882  Current Employee - ITunes Account and Billing              5.0
27660          Current Employee - Anonymous Employee              5.0
24463             Current Employee - Senior Engineer              3.0
12367          Current Employee - Anonymous Employee              5.0

      work-balance-stars culture-values-stars carrer-opportunities-stars  \
24960                4.0                 none                        4.0
43882                5.0                  5.0                        5.0
27660                3.0                  5.0                        5.0
24463                2.0                  2.0                        3.0
12367                5.0                  5.0                        5.0

      comp-benefit-stars senior-mangemnet-stars  helpful-count  \
24960                4.5                    4.0              0
43882                5.0                    5.0              0
27660                5.0                    5.0              1
24463                4.0                    2.0              2
12367                5.0                    5.0              0

                                                feedback        job_status  \
24960  Early opinions of working at amazon Exciting. ...  Current Employee
43882  Amazing company to work for! Very friendly env...  Current Employee
27660  Different and great company - you get huge res...  Current Employee
24463  Better than your average sweat shop! Good bene...  Current Employee
12367  Great Company to Work For, Highly Recommended ...  Current Employee

                         job_title post_day post_month post_year
24960      Senior Systems Engineer       20        Mar      2010
43882   ITunes Account and Billing       31        Oct      2014
27660           Anonymous Employee       16        Apr      2018
24463              Senior Engineer        3        Jan      2013
12367           Anonymous Employee       27        Dec      2017

In [115]:
df.shape

(40000, 17)

In [116]:
df.post_month.value_counts()

Oct    4088
Sep    4020
Aug    3889
Nov    3433
Jun    3345
Jan    3286
Jul    3244
May    3179
Mar    3011
Feb    2926
Apr    2852
Dec    2727
Name: post_month, dtype: int64

In [117]:
# Map months in string to corresponding number in order
df['post_month'] = df['post_month'].map({'Jan': 1 ,
                                         'Feb': 2 ,
                                         'Mar' : 3,
                                         'Apr' : 4,
                                         'May' : 5,
                                         'Jun' : 6,
                                         'Jul' : 7,
                                         'Aug' : 8,
                                         'Sep' : 9,
                                         'Oct' : 10,
                                         'Nov' : 11,
                                         'Dec' : 12,
                                        'None' : 'None'})

In [118]:
df.head(5)

,company,location,dates,job-title,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,feedback,job_status,job_title,post_day,post_month,post_year
24960,amazon,"Seattle, WA","Mar 20, 2010",Current Employee - Senior Systems Engineer,4.0,4.0,none,4.0,4.5,4.0,0,Early opinions of working at amazon Exciting. ...,Current Employee,Senior Systems Engineer,20,3,2010
43882,apple,"Cupertino, CA","Oct 31, 2014",Current Employee - ITunes Account and Billing,5.0,5.0,5.0,5.0,5.0,5.0,0,Amazing company to work for! Very friendly env...,Current Employee,ITunes Account and Billing,31,10,2014
27660,amazon,none,"Apr 16, 2018",Current Employee - Anonymous Employee,5.0,3.0,5.0,5.0,5.0,5.0,1,Different and great company - you get huge res...,Current Employee,Anonymous Employee,16,4,2018
24463,amazon,"Seattle, WA","Jan 3, 2013",Current Employee - Senior Engineer,3.0,2.0,2.0,3.0,4.0,2.0,2,Better than your average sweat shop! Good bene...,Current Employee,Senior Engineer,3,1,2013
12367,amazon,none,"Dec 27, 2017",Current Employee - Anonymous Employee,5.0,5.0,5.0,5.0,5.0,5.0,0,"Great Company to Work For, Highly Recommended ...",Current Employee,Anonymous Employee,27,12,2017

In [119]:
df.columns

Index(['company', 'location', 'dates', 'job-title', 'overall-ratings',
       'work-balance-stars', 'culture-values-stars',
       'carrer-opportunities-stars', 'comp-benefit-stars',
       'senior-mangemnet-stars', 'helpful-count', 'feedback', 'job_status',
       'job_title', 'post_day', 'post_month', 'post_year'],
      dtype='object')

In [120]:
# remove the columns which are merged, or new columns created from them

df = df[['company', 'location', 'overall-ratings',
       'work-balance-stars', 'culture-values-stars',
       'carrer-opportunities-stars', 'comp-benefit-stars',
       'senior-mangemnet-stars', 'helpful-count', 'feedback', 'job_status',
       'job_title', 'post_day', 'post_month', 'post_year' ]]

In [121]:
df.shape

(40000, 15)

In [122]:
# work on the "none" values in the rows
df['location'] = df['location'].replace(['none'], 'Unknown')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
df['work-balance-stars'].value_counts()

4.0     8712
3.0     8360
5.0     8113
2.0     4783
1.0     4397
none    4392
3.5      469
4.5      413
2.5      240
1.5      121
Name: work-balance-stars, dtype: int64

In [124]:
# as all the ratings have "none" as a value except overall-ratings, we need to replace it with the average rating value 2.5
# reason: 2.5 is not too high not too low, not influence the models in a significant way, that's what we want here
df['work-balance-stars'] = df['work-balance-stars'].replace(['none'], 2.5)
df['culture-values-stars'] = df['culture-values-stars'].replace(['none'], 2.5)
df['carrer-opportunities-stars'] = df['carrer-opportunities-stars'].replace(['none'], 2.5)
df['comp-benefit-stars'] = df['comp-benefit-stars'].replace(['none'], 2.5)
df['senior-mangemnet-stars'] = df['senior-mangemnet-stars'].replace(['none'], 2.5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [125]:
# work on the none/blank/error values of the dates (day, month, year)
df.post_day.value_counts().sort_values()

 0       1
31     747
24    1200
30    1211
 4    1222
26    1236
 1    1245
23    1248
29    1259
28    1260
27    1261
25    1269
 3    1270
13    1298
22    1301
14    1302
 2    1305
21    1315
 8    1316
18    1325
19    1326
 9    1345
10    1352
16    1358
 7    1365
15    1369
 5    1373
17    1375
12    1380
20    1386
 6    1388
11    1392
Name: post_day, dtype: int64

In [126]:
# replace the day of the month 0 and blank with 15
df['post_day'] = df['post_day'].replace([' 0' , ''], 15)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [127]:
# check if the values been replaced
#change the type of the post_day from string to int
df.post_day = df.post_day.astype(np.int64)

df.post_day.value_counts().sort_values()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

31     747
24    1200
30    1211
4     1222
26    1236
1     1245
23    1248
29    1259
28    1260
27    1261
25    1269
3     1270
13    1298
22    1301
14    1302
2     1305
21    1315
8     1316
18    1325
19    1326
9     1345
10    1352
16    1358
7     1365
15    1370
5     1373
17    1375
12    1380
20    1386
6     1388
11    1392
Name: post_day, dtype: int64

In [128]:
# same process as post_day goes for post month and year
print(df.post_month.value_counts())
print("\n")
print(df.post_year.value_counts())

10    4088
9     4020
8     3889
11    3433
6     3345
1     3286
7     3244
5     3179
3     3011
2     2926
4     2852
12    2727
Name: post_month, dtype: int64


 2017    8156
 2018    8046
 2016    7149
 2015    6055
 2014    3549
 2013    2285
 2012    1829
 2011     995
 2008     741
 2010     642
 2009     552
 0000       1
Name: post_year, dtype: int64

In [129]:
# check for null values in post month
# Check the null values
df.isnull().sum().tolist()

# Aaah! there is one null value in the month column

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [130]:
# Drop null values
df = df.dropna(how="any")

In [131]:
# as there are no none values for month, we just need to work on the year
# replace 0000, None with 2009, as there are only 4 such values, so it doesnt matter much where to put the values

df['post_year'] = df['post_year'].replace([' 0000' , 'None'], '2009')

In [132]:
# meanwhile, also change the type from str to int for both month and year
df.post_month = df.post_month.astype(np.int64)
df.post_year = df.post_year.astype(np.int64)

print(df.post_month.value_counts())
print("\n")
print(df.post_year.value_counts())

10    4088
9     4020
8     3889
11    3433
6     3345
1     3286
7     3244
5     3179
3     3011
2     2926
4     2852
12    2727
Name: post_month, dtype: int64


2017    8156
2018    8046
2016    7149
2015    6055
2014    3549
2013    2285
2012    1829
2011     995
2008     741
2010     642
2009     553
Name: post_year, dtype: int64

In [133]:
#### "String to Numeric"  -> Convert the features which are supposed to be numeric but are string
# let's convert the overall ratings which are in string to numeric

pd.to_numeric(pd.Series((df['overall-ratings'])), errors='coerce')
pd.to_numeric(  pd.Series((df['work-balance-stars'])) , errors='coerce')
pd.to_numeric(  pd.Series((df['culture-values-stars'])) , errors='coerce')
pd.to_numeric(  pd.Series((df['carrer-opportunities-stars'])) , errors='coerce')
pd.to_numeric(  pd.Series((df['comp-benefit-stars'])) , errors='coerce')
pd.to_numeric(  pd.Series((df['senior-mangemnet-stars'])) , errors='coerce')

# change the help count to numeric as well
pd.to_numeric(  pd.Series((df['helpful-count'])) , errors='coerce')

24960     0
43882     0
27660     1
24463     2
12367     0
36270     9
34161     0
145       1
35351     0
9250      0
53649     0
168       0
57846     0
27681     0
56960     0
5556      0
49403     0
23830     0
27313     0
12687     0
41473     0
10451     0
27660     1
47789     3
10693     1
34451     1
36196     9
27408     0
7048      5
4112      1
         ..
14346     0
49572     2
30159     0
54115     0
6306      0
27271     0
40193     1
38742    10
11376     0
47734     0
5883      0
56275     1
43545     3
31474     2
50413     0
54808     0
65262     3
48999     0
43157     0
56887     0
5139      0
3210      0
15460     1
64116     0
60848     0
55064     1
3704      2
62498     1
51973     0
18269     0
Name: helpful-count, Length: 40000, dtype: int64

In [134]:
df.head(5)

,company,location,overall-ratings,work-balance-stars,culture-values-stars,carrer-opportunities-stars,comp-benefit-stars,senior-mangemnet-stars,helpful-count,feedback,job_status,job_title,post_day,post_month,post_year
24960,amazon,"Seattle, WA",4.0,4.0,2.5,4.0,4.5,4.0,0,Early opinions of working at amazon Exciting. ...,Current Employee,Senior Systems Engineer,20,3,2010
43882,apple,"Cupertino, CA",5.0,5.0,5.0,5.0,5.0,5.0,0,Amazing company to work for! Very friendly env...,Current Employee,ITunes Account and Billing,31,10,2014
27660,amazon,Unknown,5.0,3.0,5.0,5.0,5.0,5.0,1,Different and great company - you get huge res...,Current Employee,Anonymous Employee,16,4,2018
24463,amazon,"Seattle, WA",3.0,2.0,2.0,3.0,4.0,2.0,2,Better than your average sweat shop! Good bene...,Current Employee,Senior Engineer,3,1,2013
12367,amazon,Unknown,5.0,5.0,5.0,5.0,5.0,5.0,0,"Great Company to Work For, Highly Recommended ...",Current Employee,Anonymous Employee,27,12,2017

In [135]:
df.to_csv(r'C:\Users\Adarsh\uOttawa\ML Course Project-7Apr\datasets\1-cleaned_employee_reviews.csv' , index=False)